# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
CyberControl_4/SettingDepthMap.cpp
CyberControl_4/SettingDepthMap.h
*.opensdf
*.sdf
*.sln
*.cd
*.vcxproj
*.filters
*.user
*.obj
*.log
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.xml
*.exe
*.ilk
